{% extends 'base.html' %}

{% block title %}Home{% endblock title%}


{% block content %}
<h1>My Favorites</h1>
<br>
<img src="https://i.pinimg.com/564x/7c/43/0b/7c430ba6fb3cd7058aec52cb84a080e6.jpg" class="rounded-circle" alt="art" width="180" height="180">
<img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/soccer-97-682900.png" class="rounded-circle" alt="soccer" width="180" height="180">
<img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/road-trip-771921.png" class="rounded-circle" alt="travel" width="180" height="180">
<img src="https://www.nicepng.com/png/full/937-9377156_cook-icon-free-cooking-icon-free.png" class="rounded-circle" alt="cooking" width="180" height="180">
<img src="https://www.transparentpng.com/download/reading/1bhcaB-free-college-promise.png" class="rounded-circle" alt="cooking" width="180" height="180">
<br>
<br>
<br>
{% endblock content %}